<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <oe_open_telemetry>
            <settings>
                <exclusion_lists>common</exclusion_lists>
                <log_level>ERROR</log_level>
            </settings>
        </oe_open_telemetry>
    </default>
</config>
