<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="outeredge" translate="label" sortOrder="2000" class="outeredge-tab">
            <label>outer/edge</label>
        </tab>
        <section id="oe_open_telemetry" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="0" showInStore="0">
            <label>Open Telemetry</label>
            <tab>outeredge</tab>
            <resource>OuterEdge_Base::OpenTelemetry</resource>
            <group id="settings" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>Settings</label>
                <field id="enable" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0" canRestore="0">
                    <label>Enabled?</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="endpoint" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="0" showInStore="0" canRestore="0">
                    <label>OTLP Endpoint</label>
                    <comment>Usually https://server:port</comment>
                </field>
                <field id="headers" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="0" showInStore="0" canRestore="0">
                    <label>OTLP Additional Headers</label>
                    <comment>Comma-separated i.e. X-License-Key=key,other-config-value=value</comment>
                </field>
                <field id="service" translate="label" type="text" sortOrder="35" showInDefault="1" showInWebsite="0" showInStore="0" canRestore="0">
                    <label>Service Name</label>
                    <comment>Leave empty to use the Magento base URL</comment>
                </field>
                <field id="log_level" translate="label" type="select" sortOrder="40" showInDefault="1" showInWebsite="0" showInStore="0" canRestore="0">
                    <label>Log level</label>
                    <source_model>OuterEdge\OpenTelemetry\Model\Config\Source\LogLevelList</source_model>
                </field>
                <field id="exclusion_lists" translate="label" type="multiselect" sortOrder="50" showInDefault="1" showInWebsite="0" showInStore="0" canRestore="0">
                    <label>Enabled Exclusion Lists</label>
                    <source_model>OuterEdge\OpenTelemetry\Model\Config\Source\ExclusionList</source_model>
                    <can_be_empty>1</can_be_empty>
                </field>
                <field id="exclusion_patterns" translate="label" type="textarea" sortOrder="60" showInDefault="1" showInWebsite="0" showInStore="0" canRestore="0">
                    <label>Custom Exclusion Patterns</label>
                    <comment>One rule per line </comment>
                    <tooltip>Skip sending log entries that match these Regex patterns.</tooltip>
                </field>
            </group>
        </section>
    </system>
</config>
